.myProfile {
  padding-bottom: 400px;
  .wrapper {
    height: 460px;
    max-height: 460px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    .blurBackground {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      filter: blur(10px);
    }
  }
  .backgroundCover {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 960px;
    max-width: 960px;
    height: 100%;
    transform: translate(-50%, 0);
    img {
      margin: 0 auto;
    }
  }
  .myProfileContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 460px;
    z-index: 9;

    width: 960px;
    max-width: 960px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(-20%);
    .author {
      display: flex;
      column-gap: 16px;
      align-items: center;
      .authorAvatar {
        position: relative;
        .authorAvatarWrapper {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          overflow: hidden;
          border: 4px solid rgb(159, 8, 247);
        }
        .cameraIcon {
          cursor: pointer;
          position: absolute;
          bottom: 22px;
          right: 2px;
          display: inline-block;
          padding: 6px;
          border-radius: 50%;
          color: #fff;
          background-color: rgba(41, 39, 39, 0.6);
          transition: all 0.2s ease-in;
        }
        .cameraIcon:hover {
          background-color: rgba(41, 39, 39, 0.8);
        }
      }
      .authorInfo {
        .authorName {
          font-weight: 600;
          font-style: 3rem;
        }
        .followingCount {
          font-weight: 500;
          font-size: 1.6rem;
        }
        .followers {
          display: flex;
          .follower {
            position: relative;
            cursor: pointer;
            .followerAvatar {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              overflow: hidden;
            }
            .userInfoCard {
              width: 200px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
              border-radius: 8px;
              background-color: #ffffff;
              padding: 8px 16px;
              display: none;
              position: absolute;
              bottom: calc(100% + 2px);
              left: 0;
              align-items: center;
              column-gap: 6px;
              .userInfoCardAvatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
              }
              .userInfoCardName {
                font-size: 1.4rem;
                flex: 1;
              }
              &::before {
                content: "";
                display: block;
                border-width: 8px;
                border-style: solid;
                border-color: #ffffff transparent transparent transparent;
                position: absolute;
                top: calc(100% - 2px);
                left: 6px;
              }
            }
            &:hover {
              .userInfoCard {
                display: flex;
              }
            }
          }
        }
      }
    }
    .action {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
  .body {
    .introduce {
      background-color: #ffffff;
      border-radius: 16px;
      padding: 16px;
      .title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 1.8rem;
      }
    }
    .introduceList {
      .introduceItem {
        margin-bottom: 10px;
        .icon {
          margin-right: 8px;
        }
      }
    }
    .postInformMessage {
      border-radius: 8px;
    }
    .profilePost {
    }
  }
}
