.leftSide {
  position: sticky;
  top: 60px;
  left: 0;
  width: 360px;
  max-width: 360px;
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}
