.chatModal {
  border-radius: 16px;
  overflow: hidden;
  .leftPanel {
    height: 480px;
    max-height: 480px;
    padding-right: 8px;
    overflow-y: auto;
    border-right: 1px solid #d3d3d3;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--gray-light-color);
      border-radius: 24px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--purple-color);
      border-radius: 24px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--purple-color);
    }
  }
}
