@import "/src/assets/styles/variables";

.viewCategory {
  padding: 0 16px;
  .viewCategoryHeading {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $purpleColor;
      left: 0;
      top: calc(100%);
    }
  }
  .viewCategoryItem {
    cursor: pointer;
    width: 160px;
    max-width: 100%;
    .viewCategoryTitle {
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .viewCategoryItemContent {
      margin-bottom: 6px;
    }
  }
}
