.header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  .headerLeft {
    width: 320px;
    display: flex;
    column-gap: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    z-index: 10;
    .headerLogo {
      width: 40px;
      height: 40px;
    }
    .headerSearchWrapper {
      position: relative;
      .headerSearch {
        display: flex;
        column-gap: 8px;
        background-color: var(--gray-light-color);
        align-items: center;
        padding: 0 8px;
        border-radius: 24px;
        input {
          flex: 1;
          background-color: transparent;
        }
      }
      .headerSearchResult {
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        p {
          padding: 4px;
        }
        .resultList {
        }
        .resultItem {
        }
      }
    }
  }

  .headerPage {
    .headerPageList {
      height: 100%;
      display: flex;
      .headerPageItem {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 24px;
        a {
          display: inline-flex;
        }
        svg {
          font-size: 24px;
        }
      }
    }
  }

  .headerProfile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    .headerProfileList {
      display: flex;
      column-gap: 16px;
      .headerProfileItem {
        position: relative;
        svg {
          font-size: 24px;
        }
        .headerIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          overflow: hidden;
          cursor: pointer;
          background-color: var(--gray-light-color);
        }
        .headerCard {
          position: absolute;
          top: calc(100% + 8px);
          right: 0;
          width: 360px;
          display: none;
          padding: 16px 8px;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: #fff;
          animation: fadeIn 0.2s ease-in;
          .headerCardInfo {
          }
          .headerCardInfoWrapper {
            margin-bottom: 16px;
          }
          .headerCardInfoList {
          }
          .headerCardInfoItem {
            display: flex;
            align-items: center;
            column-gap: 8px;
            padding: 8px;
            border-radius: 6px;
          }
          .headerCardInfoItem:hover {
            cursor: pointer;
            background-color: var(--gray-light-color);
          }
          .headerCardInfoItem:not(:last-child) {
            margin-bottom: 4px;
          }
          .headerCardInfoIcon {
            display: inline-flex;
          }
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 8px;
          }
        }
      }
      .headerProfileItem:last-child:hover {
        .headerCard {
          display: block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
