.chatWindow {
  position: fixed;
  background-color: #fff;
  bottom: 20px;
  right: 20px;
  height: 420px;
  width: 320px;
  max-width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  .chatHeading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 18px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    .profile {
      flex: 1;
    }
  }
  .chatBody {
    margin-top: 56px;
    .chatInfo {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 8px;
      .chatAvatar {
        flex-shrink: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;
      }
      .chatMessage {
        max-width: 240px;
        background-color: #a487db;
        color: #fff;
        padding: 6px;
        border-radius: 4px;
        font-size: 1.4rem;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 999;
          top: 50%;
          right: calc(100% - 4px);
          border-style: solid;
          border-width: 8px;
          transform: translateY(-50%);
          border-color: transparent #a487db transparent transparent;
        }
      }
      &.myMessage {
        flex-direction: row-reverse;
        .chatMessage::before {
          left: calc(100% - 4px);
          border-color: transparent transparent transparent #a487db;
        }
      }
    }
  }
  .chatHeadingAction {
    display: inline-flex;
    cursor: pointer;
  }
  .closeChatWindow {
    padding: 4px;
    border-radius: 100%;
    display: inline-flex;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: var(--gray-light-color);
    }
  }

  .chatFooter {
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 0 8px;
    bottom: 8px;
    left: 0;
    display: flex;
    column-gap: 2px;
    textarea {
      flex: 1;
    }
    .sendButton {
      align-self: flex-end;
    }
  }
}
