.selected {
  background-color: rgba($color: #0a0a0a, $alpha: 0.1);
}

.user {
  padding: 10px;
  border-radius: 4px;
}

.description {
  display: inline-block;
}

.status {
  color: #92959e;
}

// .newMessages {
//   color: white;
//   background-color: red;
//   width: 20px;
//   border-radius: 5px;
//   text-align: center;
//   float: right;
//   margin-top: 10px;
// }
