.followCardList {
  display: flex;
  column-gap: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 24px;
  padding: 16px 0 0 16px;
  background-color: #fff;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(164, 135, 219);
    border-radius: 8px;
  }
}
