@import "../../assets/styles/_variables.scss";

.cart {
  padding: 24px;
  margin-bottom: 50px;
  .cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    & > span {
      font-weight: 600;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(100% + 6px);
        width: 100%;
        height: 3px;
        background-color: $purpleColor;
      }
    }
  }
  .cartTable {
    .bookInfo {
      display: flex;
      column-gap: 16px;
      align-items: center;
      .bookInfoImg {
        max-width: 150px;
      }
      .bookInfoContent {
        .bookName {
          font-weight: 600;
          font-size: 2rem;
        }
        .bookUnitPrice {
          font-size: 1.3rem;
        }
        .bookUnitPrice {
          span {
            font-size: 1.4rem;
            font-weight: 600;
          }
        }
      }
    }
    .subTotal,
    .expectedDate,
    .bookCount,
    .orderStatus {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      p {
        font-size: 1.3rem;
        font-weight: 400;
      }
      span {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .orderStatus {
      p {
        display: inline-block;
      }
      span {
        margin-left: 4px;
        font-weight: normal;
        color: #ff9b20;
        background-color: #fff8ec;
        padding: 4px 8px;
        border-radius: 6px;
      }
    }
  }
  .cartFooter {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span {
      font-style: italic;
      font-size: 1.2rem;
    }
    .totalPrice {
      span {
        font-weight: 600;
      }
    }
  }
}
