.textArea {
  width: 100%;
  resize: none;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--white-color);
  height: 120px;
  max-height: 120px;
}
.modal {
  :global(.ant-modal-content) {
    border-radius: 8px;
    overflow: hidden;
  }
  .previewImgs {
    align-items: center;
    margin-bottom: 12px;
    .previewImg {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
