@import "../../assets/styles/variables";

.cartNav {
  padding: 24px;
  margin-top: 52px;
  .cartNavItem {
    cursor: pointer;
    padding: 8px 16px;
    margin-bottom: 6px;
    background-color: rgb(247, 247, 247);
  }
  .cartNavItem.active {
    background-color: $purpleColor;
    color: $whiteColor;
    font-weight: 600;
    border-radius: 6px;
  }
}
