@import "../../assets/styles/variables";

.product {
  cursor: pointer;
  padding: 12px;
  position: relative;
  border-radius: 8px;
  border: 1px solid $purpleColor;
  overflow: hidden;
  .newLabel {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 4px 8px;
    background-color: rgb(74, 222, 128);
    color: $whiteColor;
    font-size: 1.2rem;
    border-bottom-right-radius: 8px;
  }
  .productImg {
    height: 240px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 16px;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }
  .productContent {
    .productAuthor {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 6px;
    }
    .productName {
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 6px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .productPriceWrapper {
      display: flex;
      justify-content: space-between;
      .productPrice {
        font-weight: 400;
        font-size: 1.2rem;
        color: $purpleColor;
      }
      :global {
        .ant-rate {
          font-size: 1.2rem;
        }
      }
    }
  }
  .productActions {
    display: flex;
    position: absolute;
    top: 20%;
    left: 100%;
    transition: transform cubic-bezier(0.175, 0.885, 0.6, 1.275) 0.3s;
    flex-direction: column;
    row-gap: 6px;
    .productActionItem {
      span {
        cursor: pointer;
        display: inline-flex;
        padding: 8px;
        border-radius: 6px;
        background-color: $purpleColor;
        color: $whiteColor;
      }
    }
  }
  &:hover {
    .productActions {
      transform: translateX(-40px);
    }
  }
}
