.commentReply {
  display: flex;
  align-items: center;
  column-gap: 8px;
  .commentReplyMessage {
    font-style: italic;
    margin-left: 40px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .removeReplyIcon {
    cursor: pointer;
    display: inline-flex;
  }
}

.commentInput {
  display: flex;
  align-items: stretch;
  column-gap: 8px;
  .userAvatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  input {
    flex: 1;
    padding: 0 8px;
    background-color: var(--gray-light-color);
    border-radius: 8px;
    font-size: 1.4rem;
  }
}
